#table_cursos_length{
    display:none;
}

#table_cursos_paginate{
    position: absolute;
    margin-top: -17px;
    left: 46%;
}
#table_cursos_info{
    float: left;
    margin-top: -12px;
    margin-left: 18px;
    font-size: 10px;
    color: rgb(2, 2, 2);
}
#plazas_body>tr{
    cursor: pointer;
}

#table_cursos_previous{
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    border-radius: 5px;
}
#table_cursos_next{
    cursor: pointer;
    margin-left: 19px;
    display: inline-block;
    padding: 3px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    border-radius: 5px;
}

#footer-table {

    width: 100%;
    height: 36px;
    margin-top: -21px;
    background-color: #f5f5f5;
    border-width: 1px;
    border-style: solid;

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
}

.header_botom{
	width: 135px;
}
.pep:hover{
    cursor: pointer;
}
.pep{
    color:#fff;background: #428bca;width: 107px;text-align: center;border-radius: 4px;
    
}
#btn_2:hover{

}
.error{
    color: #b94a48;
}
#login{
	width: 336px;
    margin-top: 11%;
    margin-left: 35%;
    background: white;
    padding: 10px 10px 10px 10px;
    border-radius: 11px;
}
#time{
font-weight: bold;
font-size: 17px;
}
.color_time{
    color:rgb(255, 0, 0)
}
.crear_cuent{
	text-align: center;
    margin-top: 2%;
    display: block;
}

.hour_posi{
    margin-left: 13%;
} 
#team{
position: absolute;
margin-top: -18%;
width: 129%;
margin-left: 32%;
}

#team>li{
color: black;
font-weight: bold;
font-size: 21px;
width: 26%;
}
#text_inte{
font-weight: bold;
color: black;
position: absolute;
margin-top: -35%;
margin-left: 28%;
font-size: 44px;    
}

#text_head{
font-weight: bold;
color: black;
position: absolute;
margin-top: -36%;
margin-left: -5%;
font-size: 44px;
}
#text_body{
color: black;
font-weight: bold;
position: absolute;
margin-top: -21%;
margin-left: -8%;
font-size: 21px;
}
#crearDocent{
    width: 49%;
    margin-left: 27%;
}
#tem_login{
    color:#eee;
    font-weight: bold;
    margin-left: 36%;
}
#tem_login:hover{
    color:#fff; 
    text-decoration:none; 
};