.header_botom{
	width: 135px;
}
.error{
    color: #b94a48;
}
#login{
	width: 336px;
    margin-top: 11%;
    margin-left: 35%;
    background: white;
    padding: 10px 10px 10px 10px;
    border-radius: 11px;
}

.crear_cuent{
	text-align: center;
    margin-top: 2%;
    display: block;
}

.hour_posi{
    margin-left: 13%;
} 