@(curso:String)
@codecomparator("Welcome to Play") {

  <div class="container">
	 <br>
	 <br>
	 <div class="row">
	 	 <div class="col-md-1">
	 	 	<strong>Curso:</strong>
	 	 </div>
	 	 <div class="col-md-4">

	 	 	<p>@curso</p>
	 	 </div>
	 </div>
	 <br>
	 <div class="row highlight">
	 	<div class="col-md-8">
	 	<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active" data-toggle="modal" data-target="#myModal">1</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">2</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">3</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">4</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">5</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">6</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">7</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">8</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">9</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">10</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">11</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">12</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">13</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">14</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">15</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">16</button>	 				
	 			</div>
	 		</div>
	 	</div>
	 	<div class="col-md-4">
	 		<table class="table table-bordered"> 
	 			<thead>
	 				<tr>
	 					<th>Código</th>
	 					<th>Nombres y Apellidos</th>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				<tr>
	 					<td>09200216</td>
	 					<td>Jorge, Tello Gamarra</td>
	 				</tr>
	 				<tr>
	 					<td>09200223</td>
	 					<td>Carolina,Humamanzisa Gironda</td>
	 				</tr>
	 				<tr>
	 					<td>09200220</td>
	 					<td>Danilo, Carranza Chiara</td>
	 				</tr>
	 				<tr>
	 					<td>09200056</td>
	 					<td>Jose, Hinojoza Acevedo</td>
	 				</tr>
	 				<tr>
	 					<td>09200230</td>
	 					<td>Pamela, Aqguirre Ayala</td>
	 				</tr>
	 			</tbody>
	 		</table>
	 	</div>
	 </div>
	 <br>
	
	</div>
}