@codecomparator("Welcome to Play") {

    	<h1 class="page-header">Comparación de proyectos</h1>
    	<form class="form-horizontal" role="form">
    		<div class="row form-group">
    			<div class="col-md-6">
    				<label class="col-md-4 control-label">Examen</label>
    				<div class="col-md-8">
				   <select class="form-control">
                    <option>09/05/14 Algoritmica 02 - Grupo 1:Punteros</option>
                    <option>09/05/14 Algoritmica 02 - Grupo 2:Punteros</option>
                    <option>18/05/14 Programacion 02 - Grupo 1:Listas</option>
                    <option>18/05/14 Programacion 01 - Grupo 3:Archivos</option>
                   </select>

			   </div>
    			</div>
    		</div>
    		<div class="row form-group">
    			<div class="col-md-6">
    				<label class="col-md-4 control-label">Tipo de Comparación</label>
    				<div class="col-md-8">
				         <select class="form-control">
                            <option>Comparación de Adyacencia</option>
                            <option>Comparación de 1 con varios</option>
                            
                         </select>
                    </div>
    			</div>
    		</div>
    		<br>
    		<!--<span style="color:red;">(Puede seleccionar maximo 5 alumnos para comparar)</span>-->
    		<div class="row highlight">
    			<div class="col-md-8">
	 	    <br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active" data-toggle="modal" data-target="#myModal">09200153</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200152</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200153</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200155</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200145</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200302</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200163</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200152</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200475</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200056</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">10252002</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">10952202</button>	 				
	 			</div>
	 		</div>
	 		<br>
	 		<div class="row">
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200252</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200651</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200220</button>
	 			</div>
	 			<div class="col-md-3">
	 				<button class="btn btn-primary header_botom active">09200122</button>	 				
	 			</div>
	 		</div>
	 	</div>
    			<div class="col-md-4">

    				<button type="button" class="btn btn-default" style="margin-top:13%;margin-left:28%;"><span class="glyphicon glyphicon-ok-sign"></span> Comparar</button>
    				<button type="button" class="btn btn-success" style="margin-top:11%;margin-left:30%;"><span class="glyphicon glyphicon-download-alt"></span>Ver reporte</button>
    			</div>
    		</div>
    	</form>
    

}