@codecomparator("Welcome to Play") {


    	<h1 class="page-header">Configurar evaluación</h1>
    	<br>
    	<form class="form-horizontal well">
    	 <div class="row form-group">
    	 	<div class="col-md-6">
    	 		<label class="col-md-5 control-label">Titulo del examen</label>
    	 		<div class="col-md-7">
    	 			<input type="text" class="form-control" >
    	 		</div>
    	 	</div>
    	 	<div class="col-md-6">
    	 		<label class="col-md-5 control-label">Tiempo</label>
    	 		<div class="col-md-7">
    	 			<div class="input-group input-group-sm date" id="datetimepicker1">
                    <input type="text" class="form-control cambio" id="ingreso1" readonly="" disabled="">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                    </span>
                </div>
    	 		</div>
    	 	</div>
    	 </div>
    	 <div class="row form-group">
    	 	<div class="col-md-6">
    	 		<label class="col-md-5 control-label">Curso</label>
    	 		<div class="col-md-7">
    	 			
                    <select id="leg_tip" class="form-control">
        <option value="000">Programacion II</option>
        
    </select>
    	 		</div>
    	 	</div>
    	 	<div class="col-md-6">
    	 		<label class="col-md-5 control-label">Grupo</label>
    	 		<div class="col-md-7">
    	 			<select id="leg_tip" class="form-control">
        <option value="000">Grupo III</option>
        
    </select>
    	 		</div>
    	 	</div>
    	 </div>
    	 <div class="row form-group">
    	 	<div class="col-md-6">
              <label class="col-md-5 control-label">Descripción</label>
              <div class="col-md-7">
              	<textarea style="width: 849px;height: 109px;"></textarea>
              </div>
    	 	</div>
    	 </div>
    	 <hr>
    	 <div class="form-actions"  style="text-align: center;">
            <button type="submit" class="btn btn-primary left" id="save_med">Guardar</button>
            <button type="reset" class="btn btn-default left" id="cancel_med">Cancelar</button>
        </div>
    	</form>
    
}