@codecomparator("Welcome to Play") {
    
    <br>
    <br>
    <input type="text" class="form-control" style="width:20%;" placeholder="Buscar..." />
    <br>
    <table class="table table-bordered">
      <thead>
    	<tr>
    		<th>Alumno</th>
    		<th>Curso</th>
    		<th>Grupo</th>
    		<th>Fecha de comparacion</th>
    		<th>Detalle</th>
    	</tr>
      </thead>
      <tbody>
   	 <tr>
   	 	<td>Danilo Carranza Chiara</td>
   	 	<td>Programacion I</td>
   	 	<td>Grupo I</td>
   	 	<td>12/05/2013      <span class="hour_posi">20:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Daneri Beltran </td>
   	 	<td>Programacion II</td>
   	 	<td>Grupo II</td>
   	 	<td>12/09/2013      <span class="hour_posi">13:00</span> </td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Manuel Lucero Avila</td>
   	 	<td>Estructura de Datos II</td>
   	 	<td>Grupo I</td>
   	 	<td>12/12/2013    <span class="hour_posi">15:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Jose Hinojoza Acevedo</td>
   	 	<td>Base de Datos II</td>
   	 	<td>Grupo I</td>
   	 	<td>12/11/2013        <span class="hour_posi">17:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
      </tbody> 	

    </table>
}