@(cursos:List[Curso])

@codecomparator("Welcome to Play") {

    	<h1 class="page-header">Registrar curso</h1>
    	<form class="form-horizontal well" action="registrar_grupo" method="post" role="form">
    	<div class="row form-group">
    		<div class="col-md-6">
					<label class="col-md-5 control-label">Nombre del curso</label>
					<div class="col-md-7">
						<input type="text" name="t_nombre" class="form-control">
					</div>
				</div>
    		
    	</div> 
         <div class="row form-group">
    		<div class="col-md-6">
					<label class="col-md-5 control-label">N° de Grupo</label>
					<div class="col-md-3">
						<select id="tipo_doc" name="n_grupo" class="form-control">
                          <option >01</option>
                          <option >02</option>
                          <option >03</option>
                     </select>
					</div>
				</div>
    		
    	</div> 
    	<hr>
    	<div class="form-actions"  style="text-align: center;">
            <button type="submit" class="btn btn-primary left" >Guardar</button>
            <button type="reset" class="btn btn-default left" >Cancelar</button>
        </div>

    	</form>
      
      <div id="div_cursos" style="display:none;">
    	<table id="table_cursos" class="table table-bordered">
               <thead >
                 <tr>
                 	<th>Curso</th>
                 	<th>Grupo</th>
                 	<th>Eliminar</th>
                 </tr>
               </thead>
               <tbody id="body_cursos">
               @for(curso<-cursos){
               	<tr>
                   <td>@curso.t_nombre</td>
                   <td>@curso.n_grupo</td>
                   <td><a href="#" class="btn  btn-danger" data-toggle="modal" data-target="#@curso.n_curso_id"><span class="glyphicon glyphicon-trash"></span></a></td>
               	</tr>
                }
               		
               </tbody>
    	</table>

      </div>
@for(curso<-cursos){      
<div class="modal fade" id="@curso.n_curso_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <p>¿Esta seguro de eliminar el Curso?</p>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>  
        <a type="button" href="@routes.Application.deleteCurso(curso.n_curso_id)" class="btn btn-primary">Si</a>        
      </div>
    </div>
  </div>
</div>
}
  }