@(cursos:List[Curso])
@codecomparator("Welcome to Play") {
      
<br>		


		<form class="form-horizontal" action="registrar_alumno" method="post" role="form" >
		<div class="row form-group">
		      <div class="col-md-6">
			     <label class="col-md-5 control-label" style="margin-left: -31%;">Curso</label>
			    <div class="col-md-5">
				   <select class="form-control" name="t_curso"  id="cursos">
				   <option>Seleccione curso</option>
				   @for(curso<-cursos){
                    <option id="@curso.t_nombre">@curso.t_nombre</option>
                   }
                   </select>

			</div>
		</div> 		
		</div>
			<div class="row form-group" id="grupos">
		       	
		</div>
		
		<h3 class="page-header">Registrar alumno</h3>
		<div class="highlight">
			<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-5 control-label" >Código</label>
				<div class="col-md-7">
				<input type="text" id="codigo" name="t_codigo" class="form-control" >
			</div>

			</div>

		</div>
		<div class="row form-group">
			 <div class="col-md-6">
           	 <label class="col-md-5 control-label">Nombre</label>
           	 <div class="col-md-7">
           	 	<input type="text" id="nombre" name="t_nombre" class="form-control">
           	 </div>
           </div>
           
		</div>
    <div class="row form-group">
       <div class="col-md-6">
             <label class="col-md-5 control-label">Apellido paterno</label>
             <div class="col-md-7">
              <input type="text" id="ap_paterno" name="t_apellido_paterno" class="form-control">
             </div>
           </div>
           
    </div>
    <div class="row form-group">
    	<div class="col-md-6">
             <label class="col-md-5 control-label">Apellido materno</label>
             <div class="col-md-7">
              <input type="text" id="ap_materno" name="t_apellido_materno" class="form-control">
             </div>
           </div>
    </div>
		<hr>
		<div class="form-actions"  id="footer_save" style="text-align: center;">
            <a href="#" id="save_alum" class="btn btn-primary left" >Guardar</a>
            <a id="nuevo" class="btn btn-default left" >Nuevo</a>
    </div>

  <div class="form-actions" id="footer_act" style="text-align: center;display:none;">
            <a  id="act_alum" class="btn btn-primary left" >Actualizar</a>
            <a id="cancel_alum"  class="btn btn-default left" >Cancelar</a>
    </div>


		</div>
		<div id="message" style="display:none;" class="alert alert-success">
   <strong style="display: block;text-align: center;" id="text_message"></strong>
  </div>
        
		</form>	
		<br>
		<div id="list_alumnos">
			

		</div>
<script type="text/javascript">
	$(function(){
         



   $("#cancel_alum").click(function(){
    $("#footer_save").show();
    $("#footer_act").hide();
     $("#codigo").val("");
        $("#nombre").val("");
        $("#ap_paterno").val("");
        $("#ap_materno").val("");
   });

    $("#nuevo").click(function(){
        
        $("#codigo").val("");
        $("#nombre").val("");
        $("#ap_paterno").val("");
        $("#ap_materno").val("");
        $("#message").hide();
    });

   $("#act_alum").click(function(){
      cod=$("#codigo").val();
      nombre=$("#nombre").val();
      ap_paterno=$("#ap_paterno").val();
      ap_materno=$("#ap_materno").val();
      curso=$("#cursos").val();
      grupo=$("#grup").val();


     $("#list_alumnos").load("http://localhost:9000/codecomparator/update_alumno?codigo="+escape(cod)+"&nombre="+escape(nombre)+"&ap_paterno="+escape(ap_paterno)+"&ap_materno="+escape(ap_materno)+"&curso="+escape(curso)+"&grupo="+escape(grupo));    
   });

     
   $("#save_alum").click(function(){
     
     $("#list_alumnos").show();
      cod=$("#codigo").val();
      nombre=$("#nombre").val();
      ap_paterno=$("#ap_paterno").val();
      ap_materno=$("#ap_materno").val();
      curso=$("#cursos").val();
      grupo=$("#grup").val();
     
          $("#message").attr("data","true");

     $("#list_alumnos").load("http://localhost:9000/codecomparator/registrar_alumno?codigo="+escape(cod)+"&nombre="+escape(nombre)+"&ap_paterno="+escape(ap_paterno)+"&ap_materno="+escape(ap_materno)+"&curso="+escape(curso)+"&grupo="+escape(grupo));
   });

	});
</script>

		
    
	
}