@codecomparator("Welcome to Play") {


		<h1 class="page-header">Cambiar contraseña</h1>
		<form class="form-horizontal well" role="form" style="width: 51%;margin-left: 20%;">
			<div class="row form-group">
				<div class="col-md-12">
					<label class="col-md-5 control-label">Contraseña Antigua</label>
					<div class="col-md-7">
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-12">
					<label class="col-md-5 control-label">Nueva Contraseña</label>
					<div class="col-md-7">
						<input type="password" class="form-control">
					</div>
				</div>
				
			</div>
      <div class="row form-group">
        <div class="col-md-12">
          <label class="col-md-5 control-label">Confirmar Contraseña</label>
          <div class="col-md-7">
            <input type="password" class="form-control">
          </div>
        </div>
      </div>
			<hr>
    	<div class="form-actions"  style="text-align: center;">
            <button type="submit" class="btn btn-primary left" id="save_med">Guardar</button>
            <button type="reset" class="btn btn-default left" id="cancel_med">Cancelar</button>
        </div>
		</form>
	

}